/* 
*************************
REGOLE DI RESET 
************************* 
*/

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* 
*************************
REGOLE SETUP
************************* 
*/

.footer_main{
    border-top: 1px solid black;
} 

/* 
*************************
REGOLE VARIABLES
************************* 
*/
:root{
    --default_height: 100vh;
    --default_width: 100vw;
    --container_height: calc(var(--default_height) - 5%);
    --container_width: calc(var(--default_width) - 20%);
    --header_footer_height: calc(var(--container_height)/10);
    --aside_width: 30rem;
}

/* 
*************************
REGOLE COMMON
************************* 
*/

body{
    height: var(--default_height);
    background-color: #009688; /* For browsers that do not support gradients */
    background-image: linear-gradient(to top, #dbdbd3 80%, #009688 80%); 
    justify-content: center;
    align-items: center;
}

.global_container{
    width: var(--container_width);
    height: var(--container_height); 
}

.flex{
    display: flex;
}

/* 
*************************
GLOBAL CONTAINER
************************* 
*/
/* SEZIONE ASIDE BAR CONTATTI */

.aside_container{
    width: var(--aside_width);
    height: inherit;
    background-color: white;
}

.aside_header, .header_main{
    height: var(--header_footer_height);
    background-color: #eaeaea;
    justify-content: space-between;
    align-items: center;
}

.avatar_box{
    align-items: center;
}

.img_box{
    height: calc(var(--header_footer_height) - 0.2rem);
    width: calc(var(--header_footer_height) - 0.2rem);
    padding: 0 .3125rem;
}

.img_box img{
    max-width: 100%;
    border-radius: 100%;
}

.header_icons{
    list-style: none;
    padding-right: .625rem;
}

.header_icons li a{
    text-decoration: none;
    color:#b1b1b1;
    padding: 0 .625rem;
    font-size: 1.5625rem;
}

.alert{
    background-color: #8edafc;
}

.alert > .img_box{
    height: 3.75rem;
    width: 3.75rem;
    margin: .625rem;
    background-color:white;
    border-radius: 100%;
}

.alert > .img_box a{
    height: 3.75rem;
    width: 3.75rem;
}

.alert > .img_box img{
    max-width: 100%;
    padding-top: .625rem;
    padding-left: .1875rem;
}

.alert_mex{
    padding-top: 1.25rem;
}

.aside_container .search_form{
    padding: .625rem .9375rem;
}

.aside_container button {
    padding: .625rem 1.875rem;
    background-color: white;
    border: 1px solid lightgray;
    cursor: pointer;
}

.aside_container input{
    flex-grow: 1;
    padding: .625rem;
    border: 1px solid lightgray
}

.contact_container{
    height: calc(var(--container_height) - 310px);
    overflow: auto;
}
.contact_box{
    border-bottom: 1px solid lightgray;
    padding: .3125rem 0;
}

.contact_info{
    align-self: start;
    padding-left: .625rem;
    padding-top: .3125rem ;
    flex-grow: 1;
}

.contact_name{
    font-size: 1.125rem;
}

.contact_last_message, .access_hour{
    color: #c6b9c1;
}

.access_hour{
    align-self: start;
    font-size: .75rem;
    padding: .625rem .625rem 0 0;
}

/* SEZIONE CENTRAL CONTAINER MESSAGGI */

.header_main {
    border-left: 1px solid lightgray;
}
.central_container{
    width: calc(var(--container_width) - var(--aside_width));
}

.box_main{
    height: calc(var(--container_height) - var(--header_footer_height)*2);
    background-image: url(../img/mine.jpg);
}

.footer_main{
   background-color: #F3EEEA;
   height: var(--header_footer_height);
}